html {
  box-sizing: border-box; 
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #131313;
}

.wrapper {
  
  height: 100vh;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 50px;
  justify-content: center;
}

h1 {
  color: rgb(90, 90, 90);
  text-align: left;
  margin-left: 50px;
  font: 3em "Fira Sans", sans-serif;
}

header {
  background-color: rgb(15, 15, 15);
  grid-column: 1 / -1;
  margin: -10px;
}

#shelves, #new-item {
  border: 5px solid rgb(35, 35, 35);
  border-radius: 5px;
  box-shadow: -5px -5px 5px rgba(10, 10, 10, .3);
}

#shelves {
  background-color: rgb(35, 35, 35);
  grid-row: 2 / 6;
  grid-column: 3 / 6;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
}

#shelves > div {
  background-color: rgb(25, 25, 25);
  margin: 5px;
}

#new-item {
  background-color: rgb(25, 25, 25);
  grid-row: 2 / 5;
  grid-column: 6 / 8;
}

#new-book {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  margin: 10px;
}

div .new-book {
  display: flex;
  flex-direction: column;
}

label {
  color: rgb(90, 90, 90);
  vertical-align: top;
  font: 2em "Fira Sans", sans-serif;
}


.new-book-button {
  font: 2em "Fira Sans", sans-serif;
  color: rgb(20, 140, 0);
  background-color: rgb(35, 65, 30);
  border: 5px solid rgb(0, 95, 0);
  border-radius: 5px;
  box-shadow: -5px -5px 5px rgba(10, 10, 10, .3);
  grid-row: 5 / 6;
  grid-column: 6 / 8;
}
